h1 { background-color: brown; color: black; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left;}\
body {background-color: rgb(235, 235, 121); }
p {color: chocolate; font-style: oblique;}
li { color: coral;}
button { background-color: saddlebrown; color: black;}